/*Updated June 13, 2024 - Amy Velazquez*/
/*Imported from main page */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-size: 18px;
}

h1,
h2,
h3,
h4,
p {
  margin: 0;
}

img,
picture {
  max-width: 100%;
  display: block;
}

input,
button,
textarea,
select {
  font: inherit;
}

/* End of imported styles */

body {
  font-family: -apple-system, BlinkMacSystemFont, avenir next, avenir, segoe ui,
    helvetica neue, helvetica, Cantarell, Ubuntu, roboto, noto, arial,
    sans-serif;
  font-size: 18px;
  line-height: 1.5;
  margin: 0;
}

.customerContactForm {
  margin: 0;
  padding: 4em 2% 2em 2%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 3em;
}

body {
  margin: 0;
  /* Remove default margin */
  padding: 0;
  /* Remove default padding */
  overflow-x: hidden;
  /* Hide horizontal overflow */
}

.h1Font {
  line-height: 1;
}

.weightIncress {
  font-weight: 900;
}

.container {
  position: relative;
  margin: 0px auto;
  font-size: 18px;
  max-width: 100%;
  width: 970px;
}

.listItem {
  padding: 0 1em;
}

main {
  padding: 0 3em;
}

.topNavIcon {
  background-color: #fff;
  width: 100%;
  top: 0;
  left: 0;
}

.header {
  display: flex;
  flex-direction: row;
  flex: 100%;
  align-items: center;
  width: 100%;
  column-gap: 1.5rem;
  padding: 1em 0 0 0;
  margin: 0 1em;
  gap: 2em;
}

.ulTopNav {
  display: flex;
  flex-wrap: wrap;
}

.liTopNav {
  color: rgb(0, 163, 180);
  font-family: -apple-system, BlinkMacSystemFont, avenir next, avenir, segoe ui,
    helvetica neue, helvetica, Cantarell, Ubuntu, roboto, noto, arial,
    sans-serif;
  font-size: 20.7px;
  letter-spacing: 0em;
  line-height: 1.15;
  font-weight: 700 !important;
  display: inline-block;
  padding: 0 10px;
  gap: 0.5rem 1.25rem;
}

.liTopNav a {
  text-decoration: none;
  color: #00a3b4;
}

.liTopNav a:hover {
  border-bottom: 2px solid #00a3b4;
  text-decoration: none;
}

.desktopLogo {
  height: auto;
  width: 35px !important;
}

.mobileIcon {
  height: auto;

  width: 35px !important;
}

@media only screen and (max-width: 992px) {
  .hide-on-mobile {
    display: none;
  }
}

@media only screen and (min-width: 992px) {
  .hide-on-desktop {
    display: none;
  }
}

.footerForms {
  background-color: black;
  color: white;
  padding: 2em;
}

.bottomNavLi a {
  color: #fff;
  text-decoration: none;
  border-bottom: 2px solid #fff;
}

.liTopNavMobile {
  display: none;
}

.centerCentreLine {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 3em;
  padding-bottom: 150px;
}

.bottomLinks a {
  color: #fff;
  text-decoration: none;
  border-bottom: 2px solid #fff;
  font-size: 14px;
}

.bottomLinks {
  display: inline-block;
  padding: 2em 1em 0 0;
}

.centerLink a:hover {
  color: lightgray;
  text-decoration: none;
  border-bottom: 2px solid lightgray;
}

.centerLink a {
  color: #fff;
  text-decoration: none;
  border-bottom: 2px solid #fff;
}

.bottomNavLi {
  color: #fff;
  font-weight: 200;

  display: inline-block;
  padding: 0 1em 0 0;
}

.bottomNavLi a:hover {
  color: lightgray;
  text-decoration: none;
  border-bottom: 2px solid lightgray;
}

.bottomNavLi a {
  color: #fff;
  text-decoration: none;
  border-bottom: 2px solid #fff;
}

@media screen and (max-width: 992px) {
  .customerContactForm {
    grid-template-columns: 1fr;
    padding: 10px;
    margin: 10px;
  }

  .centerCentreLine {
    grid-template-columns: 1fr;
    padding: 3px;
  }

  .topNavIcon {
    display: none;
  }

  .mobileIcon {
    height: auto;

    width: 35px !important;
  }

  .mobile {
    display: inline-block;
    padding: 0 1em;
  }

  .breadcrumBack a {
    color: #00a3b4;
    text-decoration: none;
    border-bottom: 2px solid #00a3b4;
  }

  .breadcrumBack a:hover {
    color: #113438;
    text-decoration: none;
    border-bottom: 2px solid #113438;
  }
}

@media screen and (min-width: 992px) {
  .mobile-container {
    display: none;
  }

  .mobile {
    display: none;
  }
}